main.page-type-404 {
  // padding-top: 3rem;
  .heading {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include media-breakpoint-up(lg) {
      padding-top: 5rem;
    }
    h1 {
      text-align: center;
    }
  }
}
