// Contact page styles
// .main {
//   padding-top: 5rem;
// }
.col-address {
  .address {
    display: inline-block;
    width: 100%;
    &:nth-of-type(2) {
      margin-bottom: 1rem;
    }
  }
}
main.page-type-contact {
  // padding-top: 3rem;
  .heading {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include media-breakpoint-up(lg) {
      padding-top: 5rem;
    }
    h1 {
      text-align: center;
    }
  }

  .event-google-map {
    width: 100%;
    height: 100%;
    max-height: 400px;
    @include media-breakpoint-up(md) {
      // max-height: 500px;
    }
    @include media-breakpoint-up(lg) {
      // max-height: 600px;
    }
  }
}
